<form class="form-inline" th:action="@{/}" method="POST" xmlns:th="http://www.w3.org/1999/xhtml">
    <fieldset>


               <input type="text" class="form-control" id="mathProblem" placeholder="Enter your math problem"
                                                        name="mathProblem" th:value="${mathProblem}"/>
        <label for="result">=</label>
                <input type="text" class="form-control" id="result" placeholder="Result"
                                name="result" th:value="${result}"/>




            <button type="submit" class="btn btn-primary"  name ="calculate" >Calculate</button>

        <div class="col-sm-2 ">
        <p> </p>
    </div>
        <div class="col-sm-4 ">

            <button type="submit" class="btn btn-primary" name="undo" >Undo</button>


            <button type="submit" class="btn btn-primary" name="redo" >Redo</button>

        </div>

    </fieldset>
</form>
